<a href="https://colab.research.google.com/github/sylsylboo/CS5100FinalProject/blob/main/CS6220_Assignment_1_Final.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#@title Download the data from website
!wget -nc --no-check-certificate https://course.ccs.neu.edu/cs6220/fall2023/homework-1/netflix-data/movie_titles.csv
!wget -nc --no-check-certificate https://course.ccs.neu.edu/cs6220/fall2023/homework-1/netflix-data/combined_data_1.txt
!wget -nc --no-check-certificate https://course.ccs.neu.edu/cs6220/fall2023/homework-1/netflix-data/combined_data_2.txt
!wget -nc --no-check-certificate https://course.ccs.neu.edu/cs6220/fall2023/homework-1/netflix-data/combined_data_3.txt
!wget -nc --no-check-certificate https://course.ccs.neu.edu/cs6220/fall2023/homework-1/netflix-data/combined_data_4.txt
!wget -nc --no-check-certificate https://course.ccs.neu.edu/cs6220/fall2024/homework-1/basket_data.csv # for basket data

from IPython.display import clear_output
clear_output()

print("Data in combined_data_1.txt looks like this: \n")
!head -5 combined_data_1.txt

print("\n\nData in movie_titles.csv looks like this: \n")
!head -5 movie_titles.csv

print("\n\nData in basket_data.csv looks like this: \n")
!head -5 basket_data.csv

Data in combined_data_1.txt looks like this:

1:
1488844,3,2005-09-06
822109,5,2005-05-13
885013,4,2005-10-19
30878,4,2005-12-26


Data in movie_titles.csv looks like this:

1,2003,Dinosaur Planet
2,2004,Isle of Man TT 2004 Review
3,1997,Character
4,1994,Paula Abdul's Get Up & Dance
5,2004,The Rise and Fall of ECW


Data in basket_data.csv looks like this:

ketchup, butter, diapers
bread, diapers, ketchup
butter, bread, ketchup
diapers, butter
ketchup, butter, diapers, beer

### Cardinality of a Set

In [2]:
# f = open("movie_titles.csv", encoding ="cp1252")
# data_lines = open("combined_data_1.txt", "r").readlines()

In [34]:
def cardinality_items(filename):
  '''
  Takes a filename "*.csv" and returns an integer
  '''
  unique_items = set()
  with open(filename, 'r') as file:
    for line in file:
      items = line.strip().split(',')
      for item in items:
        unique_items.add(item.strip().lower())
    return unique_items

In [35]:
cardinality = cardinality_items("basket_data.csv")
print(len(cardinality))

21

In [31]:
# tried using pandas, but did not work with dataset with differen number of columns in each row
# df = pd.read_csv('basket_data.csv', header=None, engine='python')

### All Possible Unique Itemsets with non-repeating k items (combinations)

In [64]:
def all_itemsets(unique_items, k):
  '''
  Enumerate out all itemsets. For each itemset, the order does not matter -> combination

  Input:
  - unique_items: a list of items (should be unique)
  - k: an integer to indicate the number of items for each itemset

  Output
  - all_itemsets: a list of lists, representing all possible baskets of items
  '''

  # base case
  if k == 0:
    return [[]]

  if (len(unique_items) < k):
    return []

  # recursive case
  result = []

  for i in range(len(unique_items)):
    # take the current item
    current_item = unique_items[i]

    remaining_itemsets = all_itemsets(unique_items[i+1:], k-1)

    # add the current item to each itemset generated from the remaining
    if remaining_itemsets:
      for itemset in remaining_itemsets:
        result.append([current_item] + itemset)

  with open('output.txt', 'w') as f:
    for itemset in result:
      f.write(', '.join(itemset) + "\n")
  return result

In [127]:
items = ['ham', 'cheese', 'bread']
print(all_itemsets(items, 2))

[['ham', 'cheese'], ['ham', 'bread'], ['cheese', 'bread']]

### Reviewing combined_data_*.txt

#### Total number of movie rating

In [68]:
def count_total_records(filenames):
  '''
  Takes a list of filenames "*.txt" and returns the total number of records among the files
  '''

  res = 0

  for filename in filenames:
    with open(filename, 'r') as file:
      for line in file:
        if not line.endswith(':\n'):
          res += 1
  return res

In [69]:
filenames = ["combined_data_1.txt", "combined_data_2.txt", "combined_data_3.txt", "combined_data_4.txt"]
print(f'Total number of records: {count_total_records(filenames)}')

Total number of records: 100480507

#### Total number of unique users

In [71]:
def count_unique_users(filenames):
  '''
  Takes a list of filenames "*.txt" and returns the total number of unique users
  '''

  unique_users = set()
  for filename in filenames:
    with open(filename, 'r') as file:
      for line in file:
        if not line.endswith(':\n'):
          unique_users.add(line.split(',')[0])
  return len(unique_users)

In [72]:
filenames = ["combined_data_1.txt", "combined_data_2.txt", "combined_data_3.txt", "combined_data_4.txt"]
print(f'Total number of unique users: {count_unique_users(filenames)}')

Total number of unique users: 480189

#### Range of years for valid data

In [94]:
def range_of_years(filenames):
  '''
  Takes a list of filenames "*.txt" and returns the range of years for valid data
  '''

  min_year = float('inf')
  max_year = float('-inf')

  for filename in filenames:
    with open(filename, 'r') as file:
      for line in file:
        if not line.endswith(':\n'):
          date = line.split(',')[2]
          year = int(date.split('-')[0])
          min_year = min(min_year, year)
          max_year = max(max_year, year)
  return min_year, max_year

In [95]:
filenames = ["combined_data_1.txt", "combined_data_2.txt", "combined_data_3.txt", "combined_data_4.txt"]
print(f'Range of years for valid data: {range_of_years(filenames)}')

Range of years for valid data: (1999, 2005)

### Reviewing movie_titles.csv

#### Number of Distinct Movie Names

In [107]:
def count_movie_names(filename):
  '''
    Count the number of unique movie titles.
  '''

  names = set()

  with open (filename, 'r', encoding='latin-1') as file:
    for line in file:
      name = line.split(',', 2)[2]
      names.add(name)
  return len(names)

In [112]:
print (f'The number of unique movie names: {count_movie_names("movie_titles.csv")}')

The number of unique movie names: 17359

#### Movies with multiple versions

In [110]:
def movies_with_multiple_versions(filename, num_movies):
  '''
  Count how many movie names refer to exactly the 'num_movies' different movies
  '''

  names = {}

  with open (filename, 'r', encoding='latin-1') as file:
    for line in file:
      name = line.split(',', 2)[2]
      if name in names:
        names[name] += 1
      else:
        names[name] = 1

  res = 0
  for name, count in names.items():
    if count == num_movies:
      res += 1
  return res

In [114]:
print(f"There are {movies_with_multiple_versions('movie_titles.csv', 4)} referring to four different movies")

There are 5 referring to four different movies

### Reviewing both files

#### Number of users rated exactly 200 movies

In [116]:
def count_user_ratings(filenames):
  '''
  Reads the filenames and returns 2 dictionaries:

  - user_rating_count: key is user ID, value is the number of movies rated
  - user_movie_ratings: key is user ID, value is a list of tuples (movie ID, rating)
  '''

  user_ratings_count = {} # user_id : count of movies rated
  user_movie_ratings = {} # user_id: [(movie ID, rating)]

  for filename in filenames:
    with open(filename, 'r') as file:
      current_movie_id = 0
      for line in file:
        line = line.strip() # get rid off the \n
        if line.endswith(':'):
          current_movie_id = line[:-1]
        else:
          user_id, rating, _ = line.split(',')
          user_id = int(user_id)
          rating = int(rating)

          if user_id not in user_ratings_count:
            user_ratings_count[user_id] = 0
            user_movie_ratings[user_id] = []
          user_ratings_count[user_id] += 1
          user_movie_ratings[user_id].append((current_movie_id, rating))
  return user_ratings_count, user_movie_ratings

In [117]:
filenames = ["combined_data_1.txt", "combined_data_2.txt", "combined_data_3.txt", "combined_data_4.txt"]
user_ratings_count, user_movie_ratings = count_user_ratings(filenames)

In [118]:
# number of users rated exactly 200 movies
def find_users_with_200_ratings(user_rating_counts):
  '''
  Takes a dictionary and returns a list of user IDs for users who rated exactly 200 movies
  '''
  res = []
  for user_id, count in user_ratings_count.items():
    if count == 200:
      res.append(user_id)
  return res

In [119]:
# number of users rated exactly 200 movies
users = find_users_with_200_ratings(user_ratings_count)
print(f'Number of users rated exactly 200 movies: {len(users)}')
min_id = min(users)
print(f'Min user ID: {min_id}')

Number of users rated exactly 200 movies: 605
Min user ID: 508

In [124]:
def get_movie_title(filename):
  '''
  Reads the movie titles and returns a dictionary mapping movie ID to movie title
  '''
  movie_titles = {}
  with open(filename, 'r', encoding='latin-1') as file:
    for line in file:
      movie_id, year, title = line.strip().split(',', 2)
      movie_titles[movie_id] = title
  return movie_titles

In [125]:
def get_five_star_movies(user_id, user_movie_ratings, movie_titles):
  '''
  Takes a user ID, and returns a list of movie titles that the user rated 5 stars
  '''
  movie_ids = []
  res = []

  for user, movie_ratings in user_movie_ratings.items():
    if user == user_id:
      for rating in movie_ratings:
        if rating[1] == 5:
          movie_ids.append(rating[0])

  for movie_id in movie_ids:
    res.append(movie_titles[movie_id])
  return res

In [126]:
get_five_star_movies(min_id, user_movie_ratings, get_movie_title("movie_titles.csv"))

['High Fidelity',
 "Monty Python's The Meaning of Life: Special Edition",
 'American Beauty',
 'Roger & Me',
 'Eternal Sunshine of the Spotless Mind',
 'Being John Malkovich',
 'Vietnam: A Television History',
 'Super Size Me',
 'Lord of the Rings: The Fellowship of the Ring',
 'This Is Spinal Tap',
 'The Pianist',
 'The Silence of the Lambs',
 'Sideways',
 'Whale Rider',
 'Garden State',
 'Bowling for Columbine',
 'Gandhi',
 'Apocalypse Now Redux',
 'To Die For',
 "Monty Python's Life of Brian",
 'The Manchurian Candidate',
 'Memento',
 'Amelie',
 'Apocalypse Now',
 'The Usual Suspects',
 'Lord of the Rings: The Two Towers: Extended Edition',
 'The Lord of the Rings: The Fellowship of the Ring: Extended Edition',
 'Touching the Void',
 'Minority Report',
 'The Royal Tenenbaums',
 'Election',
 'Good Will Hunting',
 'L.A. Confidential',
 'Taxi Driver',
 'Lord of the Rings: The Two Towers',
 'Cabaret',
 'Adaptation',
 'The Accused',
 'Lost in Translation',
 "Boys Don't Cry",
 'To Be and To Have',
 "Schindler's List",
 'Raging Bull',
 'Lord of the Rings: The Return of the King',
 'Monty Python and the Holy Grail',
 'Raising Arizona',
 'The Shawshank Redemption: Special Edition',
 'Harold and Maude',
 'Downfall',
 'Lord of the Rings: The Return of the King: Extended Edition',
 'Monster',
 'Band of Brothers',
 'Three Kings',
 'Unforgiven',
 'Maria Full of Grace',
 'Days of Wine and Roses',
 'Shakespeare in Love']